* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
}

input {
  background: grey;
  font-size: 18px;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

.mover {
  background-image: url("images/pizza_mover.png");
  position: fixed;
  z-index: -1;
  height: 94px;
  width: 73px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.randomPizzaContainer {
  float: left;
  display: flex;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

.smallPizzas {
  width: 75px;
  height: auto;
}

.mediumPizzas {
  width: 94px;
  height: auto;  
}

.largePizzas {
  width: 125px;
  height: auto;    
}

.container {
  background-color: rgba(240, 60, 60, 0.8);
}